body{
    width: 100vw;
    /* max-width: 600px; */
    background: url(https://wallpaperaccess.com/full/3200605.jpg) no-repeat;
    overflow-x: hidden;
}

.container{
    width: 350px;
    height: 100%;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 0 25px 0;
    border: indigo solid 5px;
    opacity: 93%;

}

.header-icons{
    width: 100%;
}

.ad{
    padding: 5px;
    margin: 0;
    opacity: 55%;
}

.usp{
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.usp img {
    display: block;
    width: 40px;
    margin: 0 auto;
    padding-top: 30px;
    opacity: 40%;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0 0px 0;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
    line-height: 1.4;
}

.rainbow-text{
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    text-align: center;
    background-size: 500% 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 29px;
    animation: rainbow 3s ease infinite;
    -webkit-animation: rainbow 3s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 40% 25%;
    }
    50% {
        background-position: 100% 25%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

.pic img{
    height: auto;
    width: 95%;
    display: block;
    margin: 0 auto;
    box-shadow: 8px 21px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 8px 21px 24px -12px rgba(0, 0, 0, 0.5);
}



.offer{
    margin: 0 auto;
    max-width: 400px;
    width: 89%;
    word-wrap: normal;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px;
}

button{
    margin: 0 auto;
    display: block;
    width: 140px;
    height: 58px;
    font-size: 19px;
    color: red;
    background-color: #FFABED;
    background-image: repeating-linear-gradient(79deg, violet, indigo, blue, green, yellow, orange, red, violet);
    animation: button 3s ease infinite;
    background-size: 500% 500%;
    border: #444 solid 2px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    -webkit-animation: button 1s ease infinite;
}

@keyframes button {
    0% {
        background-position: 0% 50%;
        /* opacity: 100%; */
    }
    25% {
        background-position: 40% 25%;
        /* opacity: 40%; */

    }
    50% {
        background-position: 100% 25%;
        /* opacity: 100%; */

    }
    
    75% {
        background-position: 50% 20%;
        /* opacity: 40%; */

    }

    100% {
        background-position: 0% 50%;
        /* opacity: 100%; */

    }
}


button a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.cursor{
    width: auto;
    height: 50%;
    z-index: 1;
    margin-left: 60px;
}

.footer{
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
}

.footer p{
    margin: 0 auto;
    display: block;
    width: 290px;
    font-size: 6px;
}